@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

html {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  text-align: center;
  background-image: url(https://images.unsplash.com/photo-1520014443023-9fb2b7860d1c?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
}

.container {
  margin: 10px auto;
  border: none;
  border-radius: 5px;
  background-color: aliceblue;
  height: 100vh;
  width: 600px;
}

.header {
  padding: 10px 10px 5px;
  background-color: #155e75;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

h2 {
  text-align: center;
  font-size: 40px;
  color: #c9c5ff;
}

.form-container {
  margin-top: 20px;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(61, 61, 61);
  font-family: inherit;
}

button {
  padding: 10px;
  border-radius: 5px;
  background-color: #155e75;
  border: none;
  font-family: inherit;
  font-size: 14px;
  color: #fff;
}

button:hover {
  background-color: #1d82a1;
}

.text-result {
  display: flex;
  flex-direction: row;
  margin: 5px auto;
  width: 400px;
  border: 1px solid #155e75;
  border-radius: 5px;
  position: relative;
  justify-content: space-around;
  padding: 10px 0;
  background-color: #155e75;
  color: #fff;
}

.hidden {
  display: none;
}

.fa-solid {
  position: absolute;
  right: 5px;
}

.fa-solid:hover {
  transform: scale(1.2);
}
